<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neural Style Transfer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mainpage.css') }}">
</head>
<body>
    <div class="container">
        <h1>Neural Style Transfer</h1>
        <p class="intro">
            Neural Style Transfer (NST) is a technique in deep learning that blends the style of one image with the content of another. This allows us to create artistic transformations of images, applying styles from famous artworks to our own photos.
        </p>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="content_image">Content Image:</label>
            <input type="file" name="content_image" id="content_image" required><br><br>
            <label for="style_image">Style Image:</label>
            <input type="file" name="style_image" id="style_image" required><br><br>
            <input type="submit" value="Upload and Process">
        </form>
        {% if generated_image %}
        <h2>Generated Image:</h2>
        <img src="{{ url_for('static', filename='output.png') }}" alt="Generated Image">
        {% endif %}
    </div>
</body>
</html>
